body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.heading {
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.options{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
 
}

.options button {
   margin:5px;
   padding:5px;
   font-size:15px;
   cursor:pointer;
   border:2px solid rgb(34, 115, 161);
   background-color:rgb(44, 171, 213);
   color:white;
   border-radius:4px;

}

.options button:hover {
   background-color: #1d4ed8;
}

.nextButton {
  padding: 10px 30px;
  align-self: flex-end;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nextButton:hover {
  background-color: #1d4ed8;
}

.question {
  font-size: 20px;
  font-weight: bold;
}

